.min-height {
  min-height: 100vh;
}
.bookings-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}
.bookings-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.dark-bg {
  background: #f9fafc;
}
.pending {
  background: #ffe3e3;
  color: #fd0d0d;
  padding: 7px 20px;
  border-radius: 7px;
}
.on-going {
  background: #ffedcb;
  color: #fda500;
  padding: 7px 20px;
  border-radius: 7px;
}
.done {
  background: #c6ffe0;
  color: #03813e;
  padding: 7px 20px;
  border-radius: 7px;
}
