.footer-container {
  background: #50658e;
  width: 100vw;
  overflow-x: hidden;
}
.fw-lighter {
  color: rgba(255, 255, 255, 0.767);
}
.footer-container ul {
  padding-left: 0;
  color: rgba(255, 255, 255, 0.767);
}
.footer-container ul li {
  list-style: none;
  font-weight: light;
  cursor: pointer;
  margin-bottom: 3px;
}
.icon {
  margin-right: 30px;
}
